In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("boston.csv")
df.head(3)

      CRIM    ZN  INDUS  CHAS    NOX    RM   AGE  HousePrice
0  18.7270  50.0  27.25   0.0  0.331  6.65  29.1   337436.98
1  47.5357  75.0   7.19   0.0  0.619  6.01  73.7   371640.93
2  36.5997  50.0   4.35   0.0  0.624  6.34  61.6   415668.50

In [ ]:
df.shape                                                    # intial data format

(100, 8)

In [ ]:
input_data = df.iloc[:,:-1]                         # from start to -1 excluded the house price 
output_data = df["HousePrice"]                      # just the house price which is the output

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(input_data,output_data,test_size=0.25)          # variable = train_test_split(input_data, output_data test_size = size of test you want normally 20 to 30% of data)

In [ ]:
xtrain.shape                       # after the train_test_split format

(75, 7)

In [18]:
xtest.shape

(25, 7)

In [20]:
ytrain.shape

(75,)

In [22]:
ytest.shape

(25,)