Intro to pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("P:\L-ML\demo.csv")
df.head()

   ID  Age    Salary  Gender  Experience  Purchased Product_Category
0   1   56   33392.0  Female        34.0          1                B
1   2   46   55535.0    Male        24.0          1                B
2   3   32  103603.0  Female        34.0          1                D
3   4   25   77256.0    Male         NaN          0                A
4   5   38  114135.0    Male        28.0          1                C

In [4]:
nam = ["aparna","pankaj","sudhir","geeku"]
deg = ["MBA","BCA","M.TECH","MCA"]
scr  = [90,40,50,80]
dict = {'name':nam,'degree':deg,'score':scr}
df = pd.DataFrame(dict)
df.to_csv("P:\L-ML\scalar.csv")